
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>


<p id="notice"><%= notice %></p>

<style>

.strike{
  text-decoration: line-through;
}

</style> 

<div class= "container">

<h1>Event Organiser</h1>

<br>

<div id="events"> 
  <input type="text" class="search form-control" placeholder="Search Events" />

<br>

    <button class="sort btn btn-primary" data-sort="Archived">
    Toggle Active Events
  </button>

  <br>
  <br>
 
<table id="Table1" class="table">
  <thead>
    <tr>
      <th ><h5>Name</h5></th>
      <th ><h5>Location</h5></th>
      <th ><h5>Date</h5></th>
      <th ><h5>Time</h5></th>
      <th ><h5>Details</h5></th>
      <th ><h5>Archived</h5></th>
      
      <th><h5><i class="fa fa-eye" aria-hidden="true"></i></h5></th>
      <th><h5><i class="fas fa-edit"></i></h5></th>
      <th><h5><i class="fas fa-trash-alt"></i></h5></th>
      <th><h5>Select</i></h5></th>
    </tr>
  </thead>

  <tbody class="list">
    <% @events.each do |event| %>
      <tr>
        <td class= "Eventname"><%= event.eventname %></td>
        <td class= "Location"><%= event.location %></td>
        <td class= "Date"><%= event.date %></td>
        <td class= "Time"><%= event.time.to_formatted_s(:time) %></td>
        <td class= "Details"><%= event.details %></td>
        <td class= "Archived"><%= event.archived %></td>
        <td ><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        

<td><input  type="checkbox" name="share" value="share"></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<input class="btn btn-primary" type="button" value="Share Selected Events" onclick="GetSelected()" />

<%= link_to 'New Event', new_event_path, :class => "btn btn-primary" %>

</div>

<script type="text/javascript">
    function GetSelected() {
        //Reference the Table
        var grid = document.getElementById("Table1");
 
        //Reference the CheckBoxes in Table.
        var checkBoxes = grid.getElementsByTagName("INPUT");
        var message = "\n";
 
        //Loop through the CheckBoxes.
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                var row = checkBoxes[i].parentNode.parentNode;
                message += "Event Name:"+row.cells[0].innerHTML +", ";
                message += "Location:"+row.cells[1].innerHTML +", ";
                message += "Date:"+row.cells[2].innerHTML +", ";
                message += "Time:"+row.cells[3].innerHTML +" ";
                message+="\n";

                
            }
            
        }
 
        
          var email = "";
          var subject = "Events to attend"
          var emailBody = "Hey, you should checkout these events: "+"\n"+message;
        document.location = "mailto:"+email+"?subject="+subject+"&body="+ encodeURIComponent(emailBody);

    }
</script>

<script>
var options = {
  valueNames: [ 'Eventname', 'Location', 'Time', 'Details', 'Archived' ]
};


var eventList = new List('events', options);

</script>



 




